body {
    margin: auto;
    width: 640px;
}

.item {
    display: flex;
    padding: 4px; 
    color: #000000;
    text-decoration: none;
    background: #fafafa;
}

.item:hover {
    background: #ffffff;
}