body {
    margin: auto;
    width: 640px;
    background: #fafafa;
}

img {
    min-height: 90px;
    min-width: 120px;
}

.item {
    display: flex;
    padding: 4px; 
    color: #000000;
    text-decoration: none;
}

.item:hover {
    background: #ffffff;
}