body {
    margin: auto;
    width: 640px;
    background: #fafafa;
}

img {
    min-height: 96px;
    min-width: 128px;
}

.tag {
    background-color: #afffaf;
    font-size: 12px;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 4px;
    float: left;
    cursor: pointer;
}

.item {
    display: flex;
    padding: 4px;
}

.item:hover {
    background: #ffffff;
}

/* .header {
    height: 32px;
} */

a {
    color: #000000;
    text-decoration: none;
}

.search {
    float: right;
}

.searchBar {
    border : 1px solid #ffafff;
    height: 24px;
    margin-left: auto;
    margin-right: 0;
}
